<tr>
  <th scope="row"><%= user_counter + 1 %></th>
  <td><%= link_to user.name, user_path(user), class: 'table-link' %></td>
  <td><%= link_to user.birthday, user_path(user), class: 'table-link' %></td>
  <td><%= link_to user.email, user_path(user), class: 'table-link' %></td>
  <td><%= link_to user.role.label, user_path(user), class: 'table-link' %></td>
</tr>
