<div class="container">
  <div class="row">
    <div class="col-md-6">
      # Фото пользователя
    </div>
    <div class="col-md-6">
      <h2>Редактирование профиля <%= @user.name %></h2>

      <%= simple_form_for @user, url: {action: "update"} do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :patronymic %>
          <% if current_user.admin? %>
              <%= f.association :role, as: :select, label_method: :label, include_blank: false %>
              <% # можно но не красиво %>
              <%= f.association :organizations, as: :check_boxes %>
              <% # что-то непонятное %>
              <%= f.input :organizations, collection: @organizations, input_html: { multiple: true} %>
          <% end %>
          <%= f.input :sex,
                      collection: [[true, "м"], [false, "ж"]],
                      as: :radio_buttons,
                      label_method: :last,
                      value_method: :first
          %>
          <%= f.input :birthday, as: :date, start_year: Date.today.year - 100,
                      end_year: Date.today.year,
                      order: [:year, :month, :day] %>
          <%= f.input :email %>

          <i>Если Вы не хотите изменять пароль оставьте эти поля пустыми</i>

          <%= f.input :password, hint: password_hint %>

          <%= f.input :password_confirmation %>

          <%= f.button :submit, "Обновить", class: "btn btn-primary" %>
      <% end %>

      <%= button_to "Удалить аккаунт", registration_path(@user),
                    data: {confirm: "Вы уверены?"}, method: :delete, class: "btn btn-danger" %>
      <%= link_to "Назад", :back %>
    </div>
  </div>
</div>