<div class="container">
  <h1 class="h1">Создание пользователя</h1>
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for @user, :url => create_user_path(@user) do |f| %>
          <%= f.input :first_name, required: false %>
          <%= f.input :last_name %>
          <%= f.input :patronymic %>
          <% if current_user.admin? %>
              <%= f.association :role,
                                as: :select,
                                label_method: :label,
                                include_blank: false,
                                wrapper_html: {id: 'role_select'} %>
              <%= f.association :organizations,
                                as: :check_boxes,
                                input_html: {multiple: true},
                                wrapper_html: {id: 'organizations_check_boxes'} %>
              <%= f.association :organizations,
                                as: :radio_buttons, include_blank: false,
                                wrapper_html: {id: 'organizations_radio_buttons'} %>
              <%= f.association :divisions,
                                collection: @organizations,
                                as: :grouped_select,
                                input_html: {multiple: true},
                                include_blank: false,
                                group_method: :divisions,
                                wrapper_html: {id: 'divisions_select'} %>

          <% end %>
          <%= f.input :sex,
                      collection: [[true, "м"], [false, "ж"]],
                      as: :radio_buttons,
                      label_method: :last,
                      value_method: :first
          %>
          <%= f.input :birthday, as: :date, start_year: Date.today.year - 100,
                      end_year: Date.today.year,
                      order: [:year, :month, :day] %>
          <%= f.input :email %>

          <%= f.input :password, class: "form-group", hint: password_hint %>

          <%= f.input :password_confirmation %>
          <%= f.button :submit, "Создать", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
