<div class="container">
  <div class="row">
    <div class="col-md-6">
      # Фото организации
    </div>
    <div class="col-md-6">
      <h1 class="h1"><%= @organization.name %></h1>
      <h4>Полное наименование: <%= @organization.full_name %></h4>
      <h4>Краткое наименование: <%= @organization.short_name %></h4>
      <h4>Адрес: <%= @organization.address %></h4>
      <%= link_to "Редактировать", edit_organization_path(@organization), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row buffer-both">
    <div class="col-md-12">
      <h3 class="h3">Подразделения организации</h3>
      <%= link_to "Создать", new_division_path(organization: @organization), class: "btn btn-primary" %>
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>№</th>
          <th>Наименование</th>
          <th>Учреждение</th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: 'divisions/division', collection: @divisions %>
        </tbody>
      </table>
    </div>
  </div>
</div>