<!DOCTYPE html>
<html>
<head>
  <title>Tester</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
    <div class="nav">
      <% if user_signed_in? %>
          <li><%= link_to "Профиль", current_user, class: "nav-link" %></li>
          <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
      <% else %>
          <li><%= link_to "Войти", new_user_session_path, class: "nav-link" %></li>
          <li><%= link_to "Зарегистрироваться", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <% #bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<footer>
  <p>&copy; <%= t('app.company') %></p>
</footer>

</body>
</html>
