<div class="container">
  <div class="row">
    <div class="col-md-6">
      # Фото пользователя
    </div>
    <div class="col-md-6">
      <h2>Редактирование профиля <%= @user.name %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>

          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :sex,
                      collection: [[true, "м"], [false, "ж"]],
                      as: :radio_buttons,
                      label_method: :last,
                      value_method: :first
          %>
          <%= f.input :birthday, as: :date, start_year: Date.today.year - 100,
                      end_year: Date.today.year,
                      order: [:year, :month, :day] %>
          <%= f.input :email %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <i>Если Вы не хотите изменять пароль оставьте эти поля пустыми</i>

          <%= f.input :password %>
          <% if @minimum_password_length %>
              <em>минимум <%= @minimum_password_length %> символов</em>
          <% end %>

          <%= f.input :password_confirmation %>

          <%= f.button :submit, "Обновить", class: "btn btn-primary" %>
      <% end %>

      <%= button_to "Удалить аккаунт", registration_path(resource_name),
                    data: {confirm: "Вы уверены?"}, method: :delete, class: "btn btn-danger" %>
      <%= link_to "Назад", :back %>
    </div>
  </div>
</div>