<h2>Регистрация (только для учеников)</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.input :first_name, required: false %>
    <%= f.input :last_name %>
    <%= f.input :patronymic %>
    <%= f.input :sex,
                collection: [[true, "м"], [false, "ж"]],
                as: :radio_buttons,
                label_method: :last,
                value_method: :first
    %>
    <%= f.input :birthday, as: :date, start_year: Date.today.year - 100,
                end_year: Date.today.year,
                order: [:year, :month, :day] %>
    <%= f.input :email %>

    <%= f.input :password, class: "form-group", hint: password_hint %>

    <%= f.input :password_confirmation %><br/>

    <%= f.button :submit, "Зарегистрироваться", class: "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
