<h2>Sign up!!!</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.collection_radio_buttons :sex, [[1, "м"], [0, "ж"]], :first, :last %>
    <%= f.input :email %>

    <%= f.input :password, class: "form-group" %>
    <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %>

    <%= f.input :password_confirmation %><br/>

    <%= f.button :submit, "Зарегистрироваться", class: "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
